<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="#{Descrition}"/>
    <link rel="manifest" href="manifest.json"/>
    <link rel="icon" href="iconlink" sizes="200x200">
    <meta name="keywords" content="Keywords"/>
    <meta name="author" content="Yazan Tarifi"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="canonical" href="#{Website}"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="#{Website}"/>
    <meta property="og:image" content="#{Website}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta name="google-site-verification" content="#{GoogleSiteVerification}"/>
    <meta property="og:site_name" content="Site Name"/>
    <title>Legora Website Project</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>
</html>